*.pdb
*.pdb 
*.dll
*.cache
*.dll
*.dll
*.cache
*.dll
Vector.API/obj/Release/AspnetCompileMerge/Source/bin/Vector.API.dll
Vector.API/obj/Release/AspnetCompileMerge/Source/bin/Vector.API.dll
Vector.API/obj/Release/AspnetCompileMerge/TempBuildDir/bin/Vector.Dashboard.dll
*.dll
*.dll
