<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<!--<configSections>
		<sectionGroup name="mailSettings">
			<section name="DefaultMail" type="System.Net.Configuration.SmtpSection" />
		</sectionGroup>
	</configSections>
	<mailSettings>
		<DefaultMail deliveryMethod="Network">
			<network host="smtp.office365.com" port="587" userName="sourcing@vector97.com" password="Lions745!" enableSsl="true" defaultCredentials="false" />
		</DefaultMail>
	</mailSettings>-->

	<appSettings>		
		<add key="EmailFrom" value="sourcing@vector97.com" />
		<add key="EmailStopTo" value="krishnaj214@gmail.com" />
		<add key="EmailStopCC" value="krishnaj214@gmail.com" />
		<add key="EmailStopBCC" value="krishnaj214@gmail.com" />
		<add key="FileDirectory" value="\bin\Debug\" />
		<add key="DailyServiceIntervel" value="59000" />
		<add key="MonthlyServiceIntervel" value="30000" />
		<add key="WebRequestTimeout" value="300000" />

		<add key="VectorAPIUrl" value="https://localhost:44308/api/" />
		<add key="NegotiationRevisitEmailUrl" value="Negotiations/NegotiationRevisitEmail" />
		<add key="VectorServiceManagerUrl" value="Negotiations/VectorServiceManager" />
	</appSettings>
</configuration>